.modal__content-image {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 610px;
  max-width: 498px;
  background-color: #fff;
  border-radius: 20px;
}

.modal__close-image {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 10px;
  background: url(../../assets/modal-close-image.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.modal__close-image:hover {
    cursor: pointer;
}

.modal__image {
  max-height: 498px;
  max-width: 498px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__footer {
  padding: 20px 32px 32px;
}

.modal__footer-title {
  margin: 0 0 12px;
  font-size: 20px;
}

.modal__footer-info {
    margin: 0;
    font-size: 20px;
}
